[submodule "aider"]
	path = aider
	url = https://github.com/Aider-AI/aider
[submodule "cline"]
	path = cline
	url = https://github.com/cline/cline
[submodule "repomix"]
	path = repomix
	url = https://github.com/yamadashy/repomix
